.field__header {
  display: flex;
  justify-content: space-between;
  width: var(--desktop-width);
}

@media (max-width: 940px) {
  .field__header {
    width: var(--tablet-width);
  }
}

@media (max-width: 820px) {
  .field__header {
    width: var(--mobile-xl);
  }
}

.field__level,
.field__round {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: var(--light-text-color);
}
