.header__wrapper {
  position: relative;
  padding: 20px 0 10px 0;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logout {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0;
  top: 0;
  background: url(../../../assets/icons/logout.svg) no-repeat center / cover;
  cursor: pointer;
}

.header__logout.hidden {
  display: none;
}
