.puzzle__container {
  position: relative;
  padding-right: 10px;
  z-index: 10;
}

.puzzle__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
  cursor: grab;
  background-repeat: no-repeat;
  background-size: 900px 505px;
  text-align: center;
  font-weight: 300;
  color: var(--light-text-color);
  user-select: none;
}

.puzzle__item.aperture {
  mask-image: radial-gradient(circle at left, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 1) 0px);
}

.puzzle__circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: 10px;
  top: 50%;
  transform: translate(50%, -50%);
  background-repeat: no-repeat;
  background-size: 900px 505px;
  z-index: 5;
}

.puzzle__container:last-child {
  padding-right: 0px;
}

.puzzle__container:last-child.puzzle__circle {
  right: 0px;
}

.puzzle--hide .puzzle__item,
.puzzle--hide .puzzle__circle {
  background: var(--light-bg-color) !important;
}
