.row {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background: var(--light-bg-color);
  width: var(--desktop-width);
}

@media (max-width: 980px) {
  .row {
    width: var(--laptop-width);
  }
}

@media (max-width: 860px) {
  .row {
    width: var(--tablet-width);
  }
}

.row.hover {
  border: solid 1px var(--btn-active-color);
}

.row__item {
  height: 50.5px;
}

.row__item.hover {
  border: solid 1px var(--btn-active-color);
}
