.checkBtns {
  display: flex;
  justify-content: end;
  gap: 20px;
  width: var(--desktop-width);
}

@media (max-width: 940px) {
  .checkBtns {
    width: var(--tablet-width);
  }
}

@media (max-width: 820px) {
  .checkBtns {
    width: var(--mobile-xl);
  }
}

.checkBtns__btn {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  transition: all 0.2s linear;
}

.checkBtns__check,
.checkBtns__continue {
  width: 94px;
}

.checkBtns__check,
.checkBtns__continue,
.checkBtns__round {
  color: var(--light-text-color);
  background-color: var(--btn-dark-bg-color);
}

.checkBtns__result {
  color: var(--light-text-color);
  background-color: #368f45;
}

.checkBtns__check:hover,
.checkBtns__continue:hover {
  background-color: var(--btn-active-color);
}

.checkBtns__check.disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.checkBtns__check.disabled:hover {
  color: var(--light-text-color);
  background-color: var(--btn-dark-bg-color);
}

.checkBtns__check.hide,
.checkBtns__continue.hide,
.checkBtns__complete.hide,
.checkBtns__result.hide,
.checkBtns__round.hide {
  display: none;
}

.checkBtns__complete {
  color: var(--medium-text-color);
}

.checkBtns__complete:hover {
  -webkit-box-shadow: 0px 5px 28px 1px rgba(82, 125, 240, 0.32);
  -moz-box-shadow: 0px 5px 28px 1px rgba(82, 125, 240, 0.32);
  box-shadow: 0px 5px 28px 1px rgba(82, 125, 240, 0.32);
}
