.loginInputs__container {
  display: flex;
  flex-direction: column;
  width: 360px;
  max-width: 100%;
  gap: 15px;
}

.loginInputs__item label {
  color: var(--medium-text-color);
  margin-bottom: 8px;
}

.loginInputs__item input {
  width: 100%;
  border: 1px solid var(--btn-active-color);
  border-radius: 8px;
  padding: 12px 16px;
}

.loginInputs__item input::placeholder {
  color: #a4b4f7;
  font-weight: 400;
}

.loginInputs__item--error input {
  border: 1px solid red;
}

.loginInputs__item input:focus,
.loginInputs__item--error input:focus {
  box-shadow: 0px 0px 0px 0.5px var(--medium-text-color) inset;
  border: 1px solid var(--medium-text-color);
}
